<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.aprizalabyan.nilaisiswa">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nilai Siswa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminHome"
            android:parentActivityName=".LoginAdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginAdminActivity" />
        </activity>
        <activity
            android:name=".Home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputSiswa"
            android:parentActivityName=".AdminHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminHome" />
        </activity>
        <activity
            android:name=".LoginAdminActivity"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".InputNilai"
            android:parentActivityName=".AdminHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminHome" />
        </activity>
        <activity
            android:name=".TampilNilai"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>